<h1>Portfolio Items</h1>

<a href="portfolis/new">Create New Item</a>
<%= link_to "Create New Item", new_portfoli_path %>
							<!-- /portfolis/new -->


<!-- < % @portfolio_items.each do |portfolio_item| %> -->
<%= render partial: 'portfolio_item' , collection: @portfolio_items %>
