<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfoli_path if logged_in?(:site_admin) %>
							<!-- /portfolis/new -->


<!-- < % @portfolio_items.each do |portfolio_item| %> -->
<%= render partial: 'portfolio_item' , collection: @portfolio_items %>
