<div class="col-sm-8 blog-main">

	<%= paginate @blogs %>  <!-- Kaminari gem -->

  <!-- < % @blogs.each do |blog| %> -->
  <%= render @blogs %> <!-- look for _blog.html.erb in same folder-->

  <%= paginate @blogs %>  <!-- Kaminari gem -->

</div>
