<p id="notice"><%= notice %></p>

<title>@page_title</title>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- < % @blogs.each do |blog| %> -->
    <%= render @blogs %> <!-- look for _blog.html.erb in same folder-->
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
