<div class="col-sm-8 blog-main">

	<h1>Topic</h1>

	<!-- < = paginate @blogs %>  <!- Kaminari gem --> 

  <!-- < % @blogs.each do |blog| %> -->
  <%= render @topics %> <!-- look for _topic.html.erb in same folder-->

  <!-- < = paginate @blogs %>  <!- Kaminari gem -->

</div>

